name: Generate Swagger Documentation

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: read

jobs:
  generate-and-commit-docs:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GHPUSH_PAT }}


      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version: '1.22'

      - name: Install Swaggo
        run: go install github.com/swaggo/swag/cmd/swag@latest

      - name: Generate Swagger Documentation
        run: |
          $(go env GOPATH)/bin/swag init --output api-doc --generalInfo main.go --tags \!Internal
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add api-doc/
          git commit -m "Update Swagger documentation" || echo "No changes to commit"
          git push